
.inputField {
    width: 90%;
    padding:11px;
    margin: 10px 0;
    border: 1px solid #baafc8;
    border-radius: 5px;
    background-color: #eaeaf4;
    font-size: 16.5px;
    margin:0.7rem 0rem;
  }

  .clickme{
    display:flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    padding:14px 6px;
  }

  .submitButton{
    width: 95%;
    padding: 10px;
    background-color: #261174;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 17px;
    margin-bottom: 1.3rem;
  }
