.resetCard {
    background: #d1d8e33d;
    border-radius: 10px;
    border: 1px solid #261ad64a;
    padding: 1.6rem 1.5rem;
    box-shadow: 0px 0px 80px rgba(102, 128, 244, 0.471);
    width: 25rem;
  }
  .privacyLoginIcon{
    padding-top: 1rem;
    font-size: 5rem;
    color: rgba(37, 24, 84, 0.931);
  }
  .expiredLinkIcon{
    padding-top: 1rem;
    font-size: 6rem;
    color: rgba(37, 24, 84, 0.931);
  }

  .title {
    text-align: center;
    line-height: 0;
    font-size: 22px;
    font-weight: 600;
    color: rgba(55, 40, 95, 0.808);
  }
  .subTitle {
    text-align: center;
    color:#717172;
    padding-bottom: 0.2rem;
  }
  .submitButton{
    width: 95%;
    padding: 10px;
    background-color: #3d2a65e9;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 17px;
    margin-bottom: 1.3rem;
  }
  .confirmIcon{
    font-size: 3.9rem;
    color: #219937;
    padding: 0.5rem 0rem;
 }
 .crossIcon{
    font-size: 3rem;
    color: #8e2626;
    padding: 0.5rem 0rem;
 }