
.inputField {
    width: 90%;
    padding:11px;
    margin: 10px 0;
    border: 1px solid #c8b6af;
    border-radius: 5px;
    background-color: #eaeaf4;
    font-size: 16.5px;
    margin:1rem 0rem;
  }
  .invalidInput{
    border: 2px solid #e21b1b;
  }
  .validInput{
    border: 2px solid #349d11;
  }

  .submitButton{
    width: 95%;
    padding: 10px;
    background-color: #261174;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 17px;
    margin-bottom: 1.8rem;
  }
  .clickme{
    display:flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    padding:14px 6px;
  }
  

  