.leftContainer{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    column-gap: 0px !important;
    row-gap: 0px !important;
}
.rightContainer{
  width: 50%;
}

.leftContainer img{
    width: 25%;
    height: auto;
    margin-bottom: 5%;
}

.horizontal{
    background: #038b39;
    width: 6rem !important;
    height: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 0px 0px 20px rgb(177, 247, 103);
    border-radius: 50%;
    filter:blur(5rem)
}



.headerName{
    color: #383838c2;
    font-size: 2.5rem;
    font-weight: bold;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 0rem !important;
}
.description{
    color: #4544468b;
    line-height: 0rem !important;
    margin-bottom: 12%;

}
.btn{
    background-color: #2d7108e8;
    color: rgb(244, 240, 240);
    padding: 15px 30px;
    border-radius: 2rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.2s ease;
    border: none !important;
}

.rightContainer img{
    width: 100%;
    height: auto;
    filter: drop-shadow(0px 0px 100px rgba(70, 243, 188, 0.593));
}
.success{
    color: green;
    font-size: 3rem;
    margin-top: 20px;
}
.error{
    color: red;
    font-size: 0.9rem;
    margin-top: 20px;
}
.close{
    font-size: 1rem;
    cursor: pointer;
    color: rgb(0, 0, 0);
    background: #1c137a9b;
    padding: 0.5rem 2rem;
    border-radius: 30px;
}