.dashboardContainer {
    height: 100vh; 
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    padding-bottom: 0rem;
    background-color: #ffffff;
    overflow: scroll;
}

.llmChat {
    flex-grow: 1; 
    position: relative;
}

.inputBar {
    position: -webkit-sticky; 
    position: sticky;
    bottom:0;
    width: 100%; 
    padding-bottom: 1.9rem;
    padding-top: 1rem;
     z-index: 100;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    padding:1.8rem 19%; 
    padding-top: 0.4rem;
    margin-top: auto;
}

.inputBarContainer {
    width: 100%; 
    /* max-width: 1000px;  */
    /* box-shadow: 0px 0px  20px rgba(42, 41, 41, 0.156); */
    /* box-shadow: 0 14px 15px rgba(0, 0, 0, 0.1), 0 0 20px rgba(42, 41, 41, 0.074); */
    border-radius: 15px;
    /* padding:0px 18%;  */
}