
.not-found-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* min-height: 100vh; */
    /* background-color: #f0f0f0; */
    font-family: 'Arial', sans-serif;
  }
  
  .not-found-title {
    font-size: 10rem;
    font-weight: bold;
    color: #ff4757;
    margin: 0;
  }
  
  .not-found-message {
    font-size: 1.5rem;
    color: #2f3542;
    margin: 20px 0;
  }
  
  .not-found-button {
    padding: 10px 20px;
    font-size: 1.2rem;
    color: rgb(241, 240, 240);
    background-color: #078911;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .not-found-button:hover {
    background-color: #05660d;
    color: rgb(223, 220, 220);
  }
  