.inputBoxContainer{
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
 
 .inputWrapper{
     display: flex;
     justify-content: center;
     flex-direction: column;
     width: 100%;
     box-shadow: inset 0px 3px 6px rgba(104, 104, 105, 0.038); 
     border: 0.6px solid #cccccc80;
     border-radius: 23px;
     overflow: hidden;
     padding: 0.5rem 0.9rem;
     height: auto;
     background-color: rgba(233, 232, 232, 0.406);
 }


.inputField {
    width: 100%;
    resize: none;
    max-height: 8rem; 
    overflow-y: auto; 
    border: none;
    outline: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1rem;
    color: #181818;
    transition: border-color 0.2s ease;
    background-color: rgba(240, 238, 238, 0.144);
    
}


.iconBoxContainer{
   display: flex;
   justify-content: space-between;
   padding-bottom: 0.5rem;
}
.iconBoxLeftContainer{
    display: flex;
    justify-content:flex-start;
    gap: 0.86rem;
}
.iconBoxRightContainer{
    display: flex;
    justify-content:flex-end;
    gap: 0.86rem;
}
.webSearchContainer{
    display: flex;
    gap: 0.3rem;
    align-items: center;
    padding: 0.15rem 0.55rem;
    background: #cccbcb9c;
    border-radius: 3rem;
    cursor: pointer;
    border: 1px solid #54535316;
}
.webSearchContainer span{
    font-size: 0.89rem !important;
    font-weight: 400;
}
/* .webSearchContainer:hover {
    background-color: #cee2f6;
  } */
.selected {
    background-color: #d1e3ff; 
    border: 1px solid #007bff;
    box-shadow: 0 0 7px #0e151c5a;
    color: #24568b;
    cursor: pointer;
  }
.sendButton{
    background: none;
    border: none;
 }
 .scanIcon{
    font-size: 1.2rem;
    color: #201f1ff3;
 }

  .hiddenInput {
    display: none;
  }
  
  .uploadLabel {
    cursor: pointer;
  }
  
  .imageWrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    justify-content:flex-start;
    margin-left: 1rem;
  } 

  .imageWrapper .images{
    width: 60px;
    height: 50px;
    border: 1px solid #9b99992c;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(89, 88, 88, 0.18);
  }

  .imageContainer {
    position: relative;
    display: inline-block;
    margin: 5px;
}

.deleteIcon {
    position: absolute;
    top: -5px;
    right: -5px;
    color: rgba(23, 21, 21, 0.914);
    font-size: 17px;
    cursor: pointer;
    padding: 0.13rem;
    background: white;
    border-radius: 50%;
}


