.chatWrapper {
    container-type: inline-size;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: auto;
    position: relative;
}

.welcomeMessage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    color: #555;
    animation: fadeIn 0.5s ease-in-out;
}

.welcomeMessage h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
}

.welcomeMessage p {
    font-size: 16px;
    color: #666;
}
.aiLogoAndThinking{
    display: flex;
    gap: 1rem;
    align-items: center;
}
.thinking{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
    font-size: 13px;
    background: #e8eaf7;
    padding: 0rem 0.7rem;
    border-radius: 0.5rem;
    /* border: inset 1px solid rgba(0, 0, 0, 0.092); */
    display: inline;
}


.chatBot {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 2rem;
    margin-bottom: 20px;
    padding: 0rem 19%;
    
}

.message {
    border-radius: 8px;
    max-width: 100%;
    font-size: 1.008rem;
    line-height: 1.95;
    animation: fadeIn 0.3s ease-in-out;
}

.userMessage {
    max-width: 78%;
    margin-top: 2rem;
    background-color: #e7e9e9a8;
    align-self: flex-end;
    padding: 0rem 1.5rem;
    margin-bottom: 3rem;
    text-align: left;
    word-wrap: break-word;
    border-radius: 17px;
    /* margin-right: 1.9rem; */
    font-size: 1.008rem;
}

.aiMessageContainer{
    /* margin-left: 2rem; */
    padding: 0rem 3rem;
}


.aiMessage {
    text-align: left;
    align-self: flex-start;
    padding: 20px 0rem;
    color: #0D0D0D;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    word-wrap: break-word;
}
/* .aiMessageContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
} */
.aiLogo {
    font-size: 2.2rem;
    color: #4f0f83ee;
    border-radius: 50%;
    padding: 6px;
    border: 0.5px solid rgba(73, 53, 131, 0.402);
}

.chatEnd {
    height: 1rem;
}

/* Fade-in animation for messages */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Responsive container-based padding adjustments */
@container (max-width: 1068px) {
    .chatBot {
        padding: 0rem 9%;
    }
}

@container (max-width: 768px) {
    .chatBot {
        padding: 0rem 4%;
    }
}

@container (max-width: 568px) {
    .chatBot {
        padding: 0rem 3%;
    }
}

@container (max-width: 480px) {
    .chatBot {
        padding: 0rem 2%;
    }
}

.dotFlashing {
    position: relative;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #888;
    animation: dotFlashing 1s infinite linear alternate;
    margin-left: 20px;
}

.dotFlashing::before, 
.dotFlashing::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #888;
}

.dotFlashing::before {
    left: -15px;
    animation: dotFlashing 1s infinite alternate;
}

.dotFlashing::after {
    left: 15px;
    animation: dotFlashing 1s infinite alternate;
    animation-delay: 1s;
}

@keyframes dotFlashing {
    0% { background-color: #888; }
    50%, 100% { background-color: #eee; }
}

.loadingIndicator {
    padding: 15px 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
}

.fastCursor {
    display: inline-block;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: #000000bc;
    animation: cursorBlink 0.9s infinite;
     z-index: 100000;
     /* margin: 0rem 3rem; */
}



@keyframes cursorBlink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
}


.genaiLogo{
    width: 10%;
    border-radius: 50%;
    margin-top: 10rem;
}
.initialMessage {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 8px;
    padding: 20px;
   
    margin-bottom: 2rem;
    font-size: 1.4rem;
    font-weight: 600;
    color: #555;
}

.initialMessageContainer {
    text-align: center;
    margin-bottom: 20px;
}



.recentQuestionsBox {
    margin-top: 10px;
}

.recentQuestionsTitle {
    font-size: 0.9rem;
    font-weight: 600;
    color: #707070;
    margin-bottom: 8px;
}

.recentQuestions {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.questionButton {
    background-color: #ffffff;
    color: #30546b;
    border: 1px solid #ddd;
    padding: 8px 12px;
    border-radius: 19px;
    font-size: 0.9rem;
    cursor: pointer;
    transition: background-color 0.2s;
}

.questionButton:hover {
    background-color: #e6f4ff;
}


.codeContainer {
    margin-top: 3rem;
    max-height: 14rem;
    min-width: 30rem;
    overflow: hidden;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: all 0.5s ease;
    padding: 0.1rem;
    white-space: pre-wrap;
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.9rem;
    position: relative;
    color: white;
    box-shadow:  0px 0px 10px rgba(85, 83, 83, 0.102);
    border: 1px solid rgba(22, 11, 11, 0.212);
    border-radius: 0.7rem;
    cursor: pointer;
}

.codeContainer::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 25%;
    background: linear-gradient(to top, rgba(32, 31, 31, 0.094), transparent);
    backdrop-filter: blur(1.5px);
    pointer-events: none;
    cursor: pointer;
}


