.signup-container{
  padding:3rem 8rem;
  display: flex;
  justify-content:space-between;
  align-items: center;
  overflow: hidden;
}

.signup-text-card{
  width: 50%; 
  flex-grow: 1;
 
}
.signup-img{
  filter: drop-shadow(0px 0px 30px rgba(10, 24, 148, 0.442));
  object-fit: cover;
  transform: scale(1.3);
}

.signup-container-card{
 width: 50%; 
  display: flex;
  justify-content:flex-end;
}
